@import "../../assets/css/variables.scss";

.me-popup {
    display: none;
    font: {
      size: 14px;
      weight: 400;
    }
    position: absolute;
    left: 140px;
    width: 285px;
    height: 192px;
    padding: 28px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: $border-radius-all;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 20;
    &__line {
      display: flex;
      align-items: center;
      & span {
        margin-right: 4px;
        &.active {
          font-weight: 800;
        }
      }
      & > img {
        height: 16px;
        width: 16px;
        margin-right: 14px;
      }
    }
  }