@import "../../assets/css/variables.scss";
@import "../../assets/css/mixins.scss";

.m-editor {
  display: grid;
  width: 424px;
  border-radius: $border-radius-all;
  grid-template-rows: repeat(6, 56px) 72px;
  grid-template-columns: 150px 1fr;
  background-color: $bg-board;
  overflow: hidden;
  align-items: center;
  padding-top: 20px;
  font: {
    size: 14px;
    family: $font-family-calendar-text;
    weight: 400;
  }
  & > label,
  &__clear-button {
    color: $color-font-passive;
    padding-left: 24px;
  }
  & > .m-counter,
  &__date {
    position: relative;
    padding-right: 24px;
    text-align: center;
    line-height: $height-form-line;
    color: $color-font-active;
    &-text {
      border-bottom: 1px solid #cfd5d7;
      background: no-repeat right border-box
        url("../../assets/image/me-calendar-ico.svg");
      background-size: 24px;
    }
  }
  &__clear-button {
    @include clear-style-button;
    font: inherit;
    text-align: start;
    width: 100%;    
    background-color: transparent;
    transition: all 0.2s ease;
    text-decoration: underline;
    cursor: pointer;
    &:hover:not([disabled]) {
      transform: scale(1.1);
    }
    &:disabled {
      color: $color-font-disabled;
      cursor: default;
    }
  }
  &__control {
    align-self: end;
    display: flex;
    column-gap: 1px;
    justify-content: stretch;
    height: 56px;
    width: 100%;
    grid-column: 1/3;
    background-color: #CFD5D7;
    border-bottom-left-radius: $border-radius-all;
    border-bottom-right-radius: $border-radius-all;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.295);
    overflow: hidden;
    & > button {
      @include clear-style-button;
      font: inherit;
      text-align: start;
      background-color: $bg-board;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      font-size: 14px;
      &::before{
        font-size: 24px;
      }
      &:hover:not([disabled]) {
        background-color: $bg-hover-day;
      }
      &.m-cancel {
        color: #E35D5A;
      }
      &.m-save {
        color: #396A61;
        &:disabled {
          color: $color-font-disabled;
        }
      }
    }
  }
}
