@import "../../assets/css/variables.scss";
@import "../../assets/css/mixins.scss";
.m-counter {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cfd5d7;
    height: $height-form-line;
  }
  &__input {
    @include clear-style-button;
    font: inherit;
    text-align: center;
    width: 100%;
    background-color: transparent;
  }
  & > * > img {
    cursor: pointer;
    height: 24px;
    width: 24px;
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
