@import "../../assets/css/variables.scss";
.m-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;

  &__main {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: $border-radius-all;
    transform: translate(-50%, -50%);
    & > button {
      position: absolute;
      top: 0.8rem;
      right: 0.8rem;
      cursor: pointer;
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 1.5rem;
      color: grey;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
}
