@import "../../assets/css/variables.scss";

.app {
  position: relative;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 1096px;
  min-width: 740px;
  margin: 0 auto;

  .fc-header-toolbar {
    height: 120px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 0 5px;

    .fc-button {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 64px;
      border-radius: 32px;
      background: #f5f6f6;
      color: #000;

      &.fc-today-button {
        width: 92px;
      }

      &.fc-help-button {
        width: 64px;
        background: no-repeat center border-box
          url("../../assets/image/help.svg");
      }
    }

    .fc-toolbar-title {
      display: flex;
      align-items: center;
      width: 190px;
      justify-content: center;
      font-size: 24px;
      font-weight: 400;
    }
    .fc-toolbar-chunk > div {
      align-items: center;
    }

    .fc-prev-button,
    .fc-next-button {
      height: 41px;
      border-width: 0;
    }
  }

  .fc-view-harness {
    background: #fff;

    .fc-daygrid-day-events {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .fc-daygrid-day {
      &.popup-open {
        box-sizing: border-box;
        // outline: 2px solid red;
      }
      .day-number {
        font-size: 14px;
      }
      &.fc-day-today {
        .day-number {
          color: #e35d5a;
          font-weight: bold;
        }
      }
      .fc-daygrid-day-frame .fc-daygrid-day-top {
        flex-direction: row;
      }
      .update-button {
        display: none;
        pointer-events: stroke;
      }

      &:hover .update-button.show {
        pointer-events: all;
        display: block;
        cursor: pointer;
      }

      .fc-daygrid-day-frame .fc-daygrid-day-top {
        position: relative;
        z-index: 7;

        .fc-daygrid-day-number {
          width: 100%;
          height: 30px;
          & > div {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .fc-daygrid-event {
        margin: 0;
      }
    }
  }

  .fc-theme-standard .fc-scrollgrid {
    border-width: 0;
  }

  .fc-theme-standard th {
    border-width: 0;
  }

  .fc .fc-button-primary:disabled {
    background: #f5f6f6;
    color: #000;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    margin: 0;
  }
  .fc .fc-cell-shaded,
  .fc .fc-day-disabled {
    background: #fff;
  }
}

.fc-header-toolbar .fc-toolbar-chunk > div {
  display: flex;
}

.popup-open {
  .fc-daygrid-day-frame {
    z-index: 20;
  }
  .me-popup {
    display: flex;
  }
}
.fc-daygrid-event-harness {
  .fc-h-event {
    background-color: transparent;
    border: 0;
    pointer-events: none;
    .fc-event-main {
      display: flex;
      align-items: center;
      div {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.checkMarket {
  background: url("../../assets/image/me-ok-small.svg") no-repeat;
  background-size: contain;
}
.goldStar {
  background: url("../../assets/image/star-gold.svg") no-repeat;
  background-size: contain;
}
.greenStar {
  background: url("../../assets/image/star-green.svg") no-repeat;
  background-size: contain;
}

.fc-scrollgrid-sync-table tr td:nth-of-type(n + 5) {
  .me-popup {
    left: -265px;
  }
}
.fc-scrollgrid-sync-table tr:last-of-type td {
  .me-popup {
    top: -170px;
  }
}

.fc-popover .update-button {
  display: none;
}

.fc-daygrid-day-bottom {
  margin: 0;
  font-size: 10px;
}

.fc-scrollgrid-sync-table tr td {
  border-right-width: 2px;
  &:nth-of-type(1) {
    border-right-color: #e35d5a;
  }
  &:nth-of-type(2) {
    border-right-color: #ff8e4e;
  }
  &:nth-of-type(3) {
    border-right-color: #fdd66a;
  }
  &:nth-of-type(4) {
    border-right-color: #91d195;
  }
  &:nth-of-type(5) {
    border-right-color: #5b89db;
  }
  &:nth-of-type(6) {
    border-right-color: #d185f7;
  }
}

.fc .fc-col-header-cell-cushion {
  font-size: 14px;
  font-weight: 400;
  color: #818690;
}

.fc .fc-col-header-cell-cushion {
  margin: 10px 0;
}
