#external-events {
    position: absolute;
    top: 28px;
    right: 185px;
    width: 230px;
    display: flex;
    justify-content: space-between;
  
    .wrapper {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      height: 64px;
      border-radius: 32px;
      align-items: center;
      justify-content: center;
      grid-column-gap: 10px;
      column-gap: 10px;
      width: 110px;
      box-shadow: inset 3px 3px 4px #0000001e, 3px 3px 4px white;
  
      .fc-event {
          width: 40px;
          height: 40px;
      }
    }
  }